:root{
    /*Colours*/
    --bitcoins-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warm-black-one: #282623;
    --gray: #BABABA;
    --off-white: #FAF8F7;
    --white: #FFFFFF; 
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header__title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;   
    text-align: center;
    align-self: center;
}

.header__title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white);
}

.header__title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

/*This buttom is know as a float buttom because itsn´t in a section but is between two sections*/

.header__title-container .header__buttom{ 
    position: absolute;
    top: 270px;
    left: calc(50% - 118px);
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /*Sombra*/
    box-shadow:0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--warm-black-one);
}

.header__buttom span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('assets/icons/down-arrow.svg');
}

main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;    
}

.main-exchange-container__title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.currency-table{
    position: relative;
}

.comissions-table{
    position: relative;
}

.main-exchange-container .backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('assets/images/bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    height: 2.6rem;
    color: var(--warm-black-one);
}

.main-exchange-container p{
    padding-top: 24px;
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

.main-table-container{
    padding-top: 28px;
}

.main-table-container h2{
    width: 197px;
    margin: 0 auto;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--bitcoins-orange);
    text-align: left;
}

.table__container{
    margin: 0 auto;
    margin-top: 10px;  
    width: 197px;
    height: 159px;
    background-color: var(--white);
    border-radius: 8px;
}

.table{
    display: grid;
    width: 100%;
    height: 159px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--gray);
}

.table div{
    border: 1px solid var(--off-white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.table .table__name{
    padding-left: 12px;
    justify-content: flex-start;
    text-align: left;
}

.table .table__value{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #757575;
}

.trading-down{
    margin-left: 10px;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url(assets/icons/trading-down.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.trading-up{
    margin-left: 10px;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url(assets/icons/trending-up.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container .updated-date-container-currencys{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px auto 0;
    padding:0;  
    width: 173px;
    height: 31px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    border-radius: 8px;
    background-color: var(--soft-orange);
}

.updated-date-container-currencys .bold{
    font-weight: bold;
    margin-right: 0.6rem;
    color: var(--warm-black);
}

.currency-table .right-arrow{
    position: absolute;
    right: 31px;
    bottom: calc(50% - 6px);
    height: 12px;
    width: 7.5px;
    background-image: url("assets/icons/right-arrow.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}


.comissions-table .left-arrow{
    position: absolute;
    left: 31px;
    bottom: calc(50% - 6px);
    height: 12px;
    width: 7.5px;
    background-image: url("assets/icons/left-arrow.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.comissions-table{
    display: none;
}

.comissions-table h2{
    color: var(--secondary-blue);
} 

.comissions-table .updated-date-container-currencys{
    background-color: var(--soft-blue);
}

.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}

.main-product-detail .potato-icon{
    position: absolute;
    width: 40px;
    height: 25px;
    left: calc(50% - 20px);
    top: -10px;
    background-image: url("assets/icons/chip-icon.svg");
    background-size: cover;
}

.product-detail__title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product-detail__title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white);
}

.product-detail__title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.product-detail-card{
    width: 100%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--warm-black-one);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.16);
}

.product-detail-card .icon-clock{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("assets/icons/clock.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.product-detail-card .icon-eye{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("assets/icons/eye.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.product-detail-card .icon-dollar{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("assets/icons/dollar.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.product-detail-card .icon-check{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("assets/icons/check-circle.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.product-card__title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--white);    
}

.product-card__body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
